# Ignorar todo por defecto
*

# Permitir gitignore y docs
!.gitignore
!README.md

# Permitir SOLO el theme semprini
!wp-content/
!wp-content/themes/
!wp-content/themes/semprini/
!wp-content/themes/semprini/**

# No subir node_modules si existe dentro del theme
wp-content/themes/semprini/node_modules/

# Basura del sistema / logs
.DS_Store
Thumbs.db
*.log
*.bk