/wp-admin/
/wp-includes/
/wp-content/languages/
/wp-content/upgrade/
/wp-content/cache/
/wp-content/uploads/
/wp-content/advanced-cache.php
/wp-content/wp-cache-config.php
/wp-config.php
/readme.html
/license.txt
/xmlrpc.php
/wp-*.php
/index.php
/.htaccess

# IMPORTANTE: También incluye tu tema (y los archivos del tema que no deben ir al repo)
/wp-content/themes/nombre-de-tu-tema/node_modules/